@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

h1{
    font-weight: 900;
    font-size: 2.2em;
}

nav{
    width: 100%;
    height: 75px;
    background-color: #211c3b;
}

.title{
    color: #2d9471;
    height: 75px;
    display: flex;
    float: left;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.title p{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2em;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 70%;
    float: right;
    height: 75px;
    align-items: center;
}

.buttons a{
    color: #2d9471;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: 500ms;
    font-size: 1.2em;
}

.buttons a::before{
    content: "";
    margin-right: 1.21765601217656vh;
    width: 8px;
    height: 8px;
    background: #a146f5;
    display: inline-block;
    margin-bottom: 0.21961932650073207vw;
}

.buttons a:hover{
    color: #a146f5;
    transform: scale(1.1);
    transition: 500ms;
}

.parallax{
    background-image: url(expo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

.cont-que{
    background-color: #211c3b;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    gap: 75px;
}

.apiw{
    background-color: #fff;
    float: right;
    height: 380px;
    width: 500px;
    padding: 15px;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 35px;
    border-radius: 15px;
}

.spaw{
    background-color: #fff;
    float: left;
    height: 380px;
    width: 500px;
    padding: 15px;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 35px;
    border-radius: 15px;
}

.cont-que p{
    margin: 35px;
}

.cont-que h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    color: #2d9471;
}

.cont-que section h2{
    text-indent: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.parallax2{
    background-image: url(api.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
}

.cont-prop{
    background-color: #2d9471;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    gap: 75px;
}

.apip{
    background-color: #fff;
    float: right;
    height: 418px;
    width: 365px;
    padding: 15px;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 35px;
    border-radius: 15px;
}

.spap{
    background-color: #fff;
    float: right;
    height: 418px;
    width: 365px;
    padding: 15px;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 35px;
    border-radius: 15px;
}

.cont-prop p{
    margin: 35px;
    color: #211c3b;
}

.cont-prop h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    color: #211c3b;
}

.cont-prop section h2{
    text-indent: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #211c3b;
}

.parallax3{
    background-image: url(vs.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
}

.cont-pos{
    background-color: #ffffff;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    gap: 75px;
}

.apipos{
    background-color: #211c3b;
    float: right;
    height: 598px;
    width: 500px;
    padding: 15px;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    border-radius: 15px;
}

.spapos{
    background-color: #211c3b;
    float: right;
    height: 598px;
    width: 500px;
    padding: 15px;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    border-radius: 15px;
}

.cont-pos li{
    margin: 35px;
    color: #2d9471;
}

.cont-pos h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: absolute;
    color: #2d9471;
}

.cont-pos section h2{
    text-indent: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #2d9471;
}

.parallax4{
    background-image: url(img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
}

.cont-neg{
    background-color: #211c3b;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    gap: 75px;
}

.apineg{
    background-color: #fff;
    float: right;
    height: fit-content;
    width: 500px;
    padding: 15px;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 35px;
    border-radius: 15px;
}

.spaneg{
    background-color: #fff;
    float: right;
    height: fit-content;
    width: 500px;
    padding: 15px;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 35px;
    border-radius: 15px;
}

.cont-neg li{
    margin: 35px;
}

.cont-neg h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    color: #2d9471;
}

.parallax5{
    background-image: url(lands.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.parallax5 h1{
    margin: 0 auto ;
    text-align: center;
    color: white;
    font-size: 78px;
    font-family: 'Poppins', sans-serif;

}

.parallax5::after{
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

.cont-neg section h2{
    text-indent: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0.4vw;
}
  
::-webkit-scrollbar-track {
    background: #bebebe;
}
  
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 15px;
}

a.ee{
    opacity: 0;
    display: none;
}

.title p a{
    text-decoration: none;
    color: #a146f5;
}

.dif{
    color: white;
}

.parallax5 h1.hidden{
    opacity: 0;
    filter: blur(10px);
    transition: all 1.3s;
}

.parallax5 h1.show{
    opacity: 1;
    filter: blur(0);
    transition: all 1.3s;
}

.apip.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.5s;
}

.apip.show{
    opacity: 1;
    transform: translateX(0);
    transition: all 1.5s;
}

.spap.hidden{
    opacity: 0;
    transform: translateX(100%);
    transition: all 1.5s; 
}

.spap.show{
    opacity: 1;
    transform: translateX(0);
    transition: all 1.5s;
}

.lista li.f.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1.5s; 
}

.lista li.f.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
}

.lista li.s.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1.5s; 
    transition-delay: 600ms;
}

.lista li.s.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
    transition-delay: 600ms;
}

.lista li.t.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1.5s; 
    transition-delay: 1200ms;
}

.lista li.t.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
    transition-delay: 1200ms;
}

.lista2 li.f.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(100%);
    transition: all 1.5s; 
}

.lista2 li.f.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
}

.lista2 li.s.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(100%);
    transition: all 1.5s; 
    transition-delay: 600ms;
}

.lista2 li.s.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
    transition-delay: 600ms;
}

.lista2 li.t.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(100%);
    transition: all 1.5s; 
    transition-delay: 1200ms;
}

.lista2 li.t.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
    transition-delay: 1200ms;
}



.apiw.hidden{
    opacity: 0;
    height: 1px;
    transition: all 2s;
    overflow: hidden;
}

.apiw.show{
    opacity: 1;
    height: 380px;
    transition: all 2s;
    color: #2d9471;
}

.spaw.hidden{
    opacity: 0;
    height: 1px;
    transition: all 2s;
    overflow: hidden;
}

.spaw.show{
    opacity: 1;
    height: 380px;
    transition: all 2s;
    color: #2d9471;
}
.arrow{
    position: fixed;
    background-color: black;
    right: 8vw;
    bottom: 15vh;
    z-index: 9;
    transition: all 500ms;
    opacity: 0;
}

.arrow img{
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 100%;
    padding: 5px;
    transition: all 500ms;
}

.arrow a{
    position: absolute;
    border-radius: 100%;
    padding: 5px;
}

.arrow img:hover{
    background-color: #2d9471;
    transition: all 500ms;
}